<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Oren&apos;s</key>
	<integer>1982</integer>
	<key>Gali&apos;s</key>
	<integer>1992</integer>
	<key>Rony&apos;s</key>
	<integer>1959</integer>
	<key>Sara&apos;s</key>
	<integer>1962</integer>
	<key>Naama&apos;s</key>
	<integer>1981</integer>
	<key>Daniel&apos;s birthday</key>
	<integer>1994</integer>
</dict>
</plist>
